body { overflow-x: hidden; }

.Header {
	top: 0;
	left: 0;
	z-index: 997;
	width: 100%;
	height: 4rem;
	/*background-color: #222;*/
}

.Header-container {
	margin: auto;
	max-width: 768px;
}

.Logo {
	top: 0;
	left: 0;
    width: 65%;
	/*left: calc(50% - 2rem);*/
	z-index: 998;
    float: left;
    text-align: center;
}

.Logo-link {
	display: block;
	width: 100%;
	height: 4rem;
	text-indent: -9999px;
	/*background-color: #CCC;*/
  background-image: url(../images/logo_estiloDF.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 55%;
}

.Panel-button {
	top: .25rem;
	right: 0;
	z-index: 999;
  width: 20%;
  height: 4rem;
  float: left;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before { background-color: #FFf; }

.hamburger:focus {
	outline: 0;
	border: 0;
}

.Panel {
	position: fixed;
	z-index: 996;
	left: 0;
	/*background-color: rgba(34, 34, 34, .9);*/
	transition: all .3s ease-out;
	overflow: hidden;
	top: 4rem;
	width: 100%;
	max-height: 0;
	transform: translateY(-100vh);
}

.Panel.is-active {
	max-height: 100vh;
	overflow-y: auto;
	transform: translateY(0);
}

.Menu {	width: 100vw; }

.Menu-listItem {
	border-bottom: thin solid #f16522;
	list-style-type: none;
	text-align: center;
}

.Menu-item { 
    border-top: thin solid #f16522;
    font-size: 14px;
}

/*Estilos para los links (textos del menu)*/
.Menu-link {
	padding: .5rem;
	display: block;
	color: black;
	transition: all .3s ease-out;
  text-decoration: none;
    background-color: #fff;
}

.Menu-link:hover {
	background-color: #f16522;
	color: #FFF;
}

/*************media queries****************/

@media screen and (min-width: 64em) {
	.Header-container {
		display: flex;
		align-items: center;
	}

	.Logo {
		position: static;
		width: 10%;
	}

	.Panel {
		position: static;
		width: 90%;
		overflow: visible;
		max-height: none;
		transform: translateY(0);
	}

	.Panel-button { display: none; }

	.Menu {	width: 100%; }

	.Menu-listItem {
		border-bottom: 0;
		text-align: right;
	}

	.Menu-item { 
		border-top: 0;
		display: inline;
	}

	.Menu-link { display: inline; }

	.Menu-link:hover { background-color: transparent; }
}